<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<script src="https://unpkg.com/vue@next"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

		<title>Selenium</title>

	</head>


	<body>

	
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">IClima</h1>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item"><a href="controlePanel.html">Control Panel</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

				<div class="forecast-table">
					<div class="container">
						<div class="forecast-container">
							<div class="today forecast">
								<div class="forecast-header">
								</div> <!-- .forecast-header -->
								<div class="forecast-content">
									
									<div id="app">

									<button id="getAllButton" v-on:click="getAllTemperatures" class="btn btn-primary">Get Temperature and Humidity</button>

									<div class="location">Room D3.07</div>
									 									<table v-if="temperatures.length" class="table table-striped">
										<tr v-for="temp in temperatures">
											<td> Temperature: </td>
											<td> {{temp.temperature}} </td>
											<td> Humidity: {{temp.humidity}} </td>
											<td> RoomId: {{temp.roomId}} </td>
											<td> Date: {{temp.date}} </td>
										</tr>
										<tr>

											<td>
												<button id="getAverage" v-on:click="getAverage7Days" class="btn btn-primary">Get </button>the last weeks average
											</td>
											<td>
												Average Temperatur: {{averageTemps.toFixed(1)}}
											</td>
											<td>
												Average Humidity: {{averageHumid.toFixed(1)}}
											</td>
											<td>
											</td>
										</tr>
									</table>
										
									<div v-else>No Temperature found!</div> 
								</div>
															
		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<br>
			<br>
			<br>
			<br><br>
		
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day dag">Monday</div>
								<div class="date weekday"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">Roskilde</div>
								<div class="degree">
									<div class="weather-icon"><img src="images/icons/unknown.svg" alt="" width=90 /></div>
									<div class="num weather-temptmax">0<sup>o</sup>C</div>
									<div class="weather-temptmin"></div>
									<div class="forecast-icon">
									</div>
								</div>
								<span class="wind"><img src="images/icon-wind.png" alt="">0m/s</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day dag1">Tuesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon weather-icon1">
									<div class="weather-icon1"><img src="images/icons/unknown.svg" alt="" width=48/></div>
								</div>
								<div class="degree weather-temptmax1">0<sup>o</sup>C</div>
								<div class="weather-temptmin1"><small>0<sup>o</sup></small></div>
								
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day dag2">Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div class="weather-icon2"><img src="images/icons/unknown.svg" alt="" width=48/></div>
								</div>
								<div class="degree weather-temptmax2">0<sup>o</sup>C</div>
								<div class="weather-temptmin2"><small>0<sup>o</sup></small></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day dag3">Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div class="weather-icon3"><img src="images/icons/unknown.svg" alt="" width=48/></div>
								</div>
								<div class="degree weather-temptmax3">0<sup>o</sup>C</div>
								<div class="weather-temptmin3"><small>0<sup>o</sup></small></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day dag4">Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div class="weather-icon4"><img src="images/icons/unknown.svg" alt="" width=48/></div>
								</div>
								<div class="degree weather-temptmax4">0<sup>o</sup>C</div>
								<div class="weather-temptmin4"><small>0<sup>o</sup></small></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day dag5">Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div class="weather-icon5"><img src="images/icons/unknown.svg" alt="" width=48/></div>
								</div>
								<div class="degree weather-temptmax5">0<sup>o</sup>C</div>
								<div class="weather-temptmin5"><small>0<sup>o</sup></small></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day dag6">Sunday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div class="weather-icon6"><img src="images/icons/unknown.svg" alt="" width=48/></div>
								</div>
								<div class="degree weather-temptmax6">0<sup>o</sup>C</div>
								<div class="weather-temptmin6"><small>0<sup>o</sup></small></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			

					<p class="colophon">Copyright 2021 ICLIMA. All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>

		<script src="js/weather.js"></script>
		
	
		<script src="js/PiData.js"></script>
		
	</body>

</html>